*.pt
*.npy
*.ckpt
*.pth
__pycache__/
archive/
notebooks/figs/
notebooks/inference.ipynb
notebooks/profiler.ipynb
notebooks/animation_quantile_decoding.ipynb
*.DS_Store
hf_push.ipynb
gatedmhsa.ipynb
cur_res.md
figures/
model_jz.py
test/
notebooks/attention_visualization.ipynb
results/
python_package/
data/giftpretrain/
datasetV2/
data/training_corpus_kernel_synth_1m.npz
script_eval/