*.pt
*.npy
*.ckpt
*.pth
__pycache__/
archive/
notebooks/inference.ipynb
*.DS_Store
hf_push.ipynb
cur_res.md
figures/
model_jz.py
test/
notebooks/attention_visualization.ipynb
results/

script_eval/*
!script_eval/fev_eval.py